.inputSearch{
    border: none !important;
}
.new{
      border-top: solid 2px rgba(252, 3, 177, 0.797);
  

    border-radius: 20px;
    overflow: hidden;
}
.title{
    background-color: rgb(220, 106, 222);
}
 
.btnNew{
    background: linear-gradient(-32deg, rgb(69, 104, 220), rgb(176, 106, 179)) !important;
}
.textDesc{
    height: 250px;
}
.iconReadMore{
    color: blueviolet;
    /* font-size: 2rem; */
    transition: all 0.5s;
}
.btnNew:hover .iconReadMore{
    font-size: 1.5rem;
    color: sienna;
}